body {
  margin: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background: url(./media/image.jpg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button_style {
  margin-left: 10px !important;
  margin-right: 10px;
}

.centerTable {
  margin: 0px auto;
}

h2 {
    color: green;
}

.mainDiv{
  background-color: white;
  padding: 50px;
}


