<h1>
    SignUp Page
</h1>
<form action="/register" method="POST">
    <label for="">Are you the?</label>
    <select name="Identity" id="">
        <option value="Once daily">Patient</option>
        <option value="Twice daily">Doctor</option>
        <option value="One Three Times a day">Pharmacist</option>\
        <option value="PRN">Carer</option>

<p>
    <label for="username">User Name</label>
    <input type="text" id="username" name="username">
</p>
<p><label for="username">User Name</label>
    <input type="text" id="username" name="username"></p>
   <p>
    <label for="password">Password</label>
    <input type="text" name="password" id="password">
   </p>
    
   <p>
    <label for="telephone">Gender At Birth:-</label>
    <input type="text" name="gender" id="gender">
    
   </p>
    <input type="password" id="password" name="password">
    <label for="phone">Mobile No:-</label>
    <input type="text" name="phone" id="phone">
    <label for="telephone">Medicare Number:-</label>
    <input type="text" name="medicare" id="medicare">
    <button>Submit</button>
</form>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/login">login</a></li>
</ul>