body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background: url(/image.jpg);
}

.button_style {
  margin-left: 10px !important;
  margin-right: 10px;
}

.centerTable {
  margin: 0px auto;
}

h2 {
    color: green;
}

.mainDiv{
  background-color: white;
  padding: 50px;
}

